.ui.menu {
  justify-content: space-evenly;
}
.ui.menu .item {
  position: inherit;
  /* border-left: 2px; */
}
.ui.menu > .item:first-child {
  border-left: 0;
}
.ui.cards {
  justify-content: center;
}

@media only screen and (max-width: 622px) {
  .ui.form {
    width: 90%;
    margin-left: 10px
  }
  .ui.cards {
    justify-content: center;
  }
  .dashboard {
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 10px;
  }
  .ui.cards > .card {
    margin-top: 20px;
  }
  .ui.menu {
    display: block;
  }
  .ui.menu.five.item .item {
    width: 100%;
    border: 1px solid lightgrey;
  }
  .ui.menu:not(.vertical) .item {
    justify-content: center;
    border-left: 0;
    border-top: 1px solid lightgrey;
  }
  .ui.menu > .item:first-child {
    border-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    width: revert !important;
    display: revert !important;
  }
  .ui.compact.segment {
    display: contents !important;
  }
  .ui.container {
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    padding: 0.75em 0.8em !important;
  }
  .ui.form {
    width: 90%;
    margin-left: 10px
  }
}
