@media only screen and (max-width: 622px) {
    .ui.cards {
        justify-content: center;
    }
}

@media only screen and (max-width: 525px) {

    .ui.menu {
        display: block;
    }

    .ui.menu.five.item .item {
        width: 100%;
    }

}